{% extends 'base.twig' %}

    {% block main_content %}
    <h1>Voeg een nieuw bericht toe</h1>
   
            {# {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form)}} #}
            <form id="form-post" method="post">
                    {{ form_widget(form) }}
                
                  
                </form>
   
    {% endblock %}
    {% block javascripts %}
    <script src="./js/db_ajax.js"></script>
    {% endblock %}
